.user-booking-title{
    margin-bottom: 10px;
    font-weight: bold;
}
.msg-user-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.booking-info{
    margin-left: 270px;
    width: 150px;
}