.filtered-guides-header {
  font-family: "Lato";
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
  font-size: rem(40px);
  color: $clr2;
  padding: 0;
  text-transform: capitalize;
}

.guides-short-content {
  font-family: "Lato";
  font-size: rem(20px);
  color: $clr2;
}

.filtered-glist-container{
  height: 50px;
  justify-content: left;
}

.selected-tag:hover {
  transform:scale(1.5);
}

.selected-tag {
  color: white;
}

.active-Selected{
  transform:scale(1.5);
  transition:  transform 0.5s;
}



