

.filtered-guides-header {
  font-family: "Lato";
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
  font-size: rem(40px);
  color: $clr2;
  padding: 0;
  text-transform: capitalize;
}



.guides-short-content {
  font-family: "Lato";
  font-size: rem(20px);
  color: $clr2;
}
.selected-tag:hover {  
  transform:scale(1.5);
}

.selected-tag {
  color: white;
}

.active-Selected{
  margin:5px;
  transform:scale(1.5);
  transition:  transform 0.5s;
}

@media  (max-width: 480px){
  .filtered-glist-container{
    flex-direction: column;
  }
  .search-container {
    margin-top: 0px;
    margin: 0;
    justify-content: center;
  }
  
  .tag-view{
    border-radius: 5px;
    display: flex;
    justify-content: center;
  }

  .guides-short-content{
    text-align: center;
    font-size: 14px;
  }
 
}

@media  (max-width: 627px){
  .filtered-glist-container{
    flex-direction: column;
  }
  .search-container {
    justify-content: unset;
  }
  select{
    width: 230px;
  }
  .search-container{
    padding-bottom: 5px;
  }
}


@media (max-width: 680px){
  .filtered-glist-container{
    justify-content: space-around;
  }
}




















