.cards-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 5x;
  margin-top: 35px;
  margin-bottom: 13px;
  }


  // .country-list{
    // display: grid;
    // grid-template-columns: repeat(5, minmax(200px, 1fr));
    // grid-auto-rows: 200px;
    // grid-gap: 5x;
    // margin-top: 35px;
    // margin-bottom: 13px;
    // width: 90%;
    // margin: auto;
    // display: grid;
    // grid-gap: 5px;
    // grid-template-columns: repeat(4,1fr);
    // grid-template-rows: 55px 55px 55px 55px;
    // color: #333232;
    // font-size: 1.2rem;
    // font-weight: 700;
    // font-family: Raleway-Bold;
    // background-color: red;
  // }

  .cards-list > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  
  /* Just to make the grid visible */
  
  .cards-list > * {
    background: rgba(0,0,0,0.1);
    border: 1px white solid;
  }


  .first-header-section{
    font-family: "Lato-Bold";
    font-size: 40px;
    color: rgb(237,111,37);
    text-transform: uppercase;
  }

  .second-header-section{
    border-top: 2px solid rgb(237,111,37);
    font-family: "Lato-Bold";
    font-size: 40px;
    color: rgb(237,111,37);
    text-transform: uppercase;
  }

  .guide-preview-card{
    // box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 3px;
    cursor: pointer;
}
  
  
  
  