.calendar-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.calendar-content {
  border: 0.2px solid;
  padding: 23px;
  position: sticky;
  top: 80px;
}
.calendar-content > * {
  margin-bottom: 60px;
}

.guide-header {
  font-family: "Lato-Bold";
  font-size: rem(50px);
  color: $clr2;
  padding: 0;
  margin-top: 30px;
}

.guide-tags{
  border-bottom: 2px solid;
  border-color: $clr2;
}

.lang-from-guide{
  padding: 10px;
  display: flex;
  background-color: #7482c4;
  width: 600px;
}

.from-guide{
  text-transform: capitalize;
  width: 70%;
}

.lang-guide{
  justify-content: flex-end;
  flex-direction: row;
  width: 80%;
}

.back-btn {
  font-family: "Lato";
  text-align: center;
  font-size: 15px;
  border-radius: 3px;
  width: 70px;
  padding: 10px;
  background-color: $clr2;
  border: 1px solid $clr2;
  color: white;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  margin-top: 10px;
}
.container-book {
  margin-top: 140px;
}

.back-btn:hover {
  opacity: 0.8;
}


.book-btn {
  font-family: "Lato";
  text-align: center;
  font-size: 15px;
  border-radius: 0 9px 9px 0;
  width: 70px;
  padding: 5px;
  background-color: $clr2;
  border: 1px solid $clr2;
  color: white;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  margin-top: 10px;
}

.book-btn:hover {
  opacity: 0.8;
}


.guide-short-desc > * {
  font-family: "Lato";
  font-size: rem(35px);
  line-height: 45px;
  color: $clr2;
  padding: 0;
  word-break: break-word;
  width: 567px;
}

.guide-desc {
font-family: "Lato";
font-size: rem(25px);
line-height: 30px;
color: #364799;
padding: 0;
word-break: break-word;
width: 567px;
border-bottom: 2px solid;
}

.guide-reviews-title {
  font-family: "Lato";
  font-size: rem(20px);
  color: $clr2;
  border-top: solid;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}

.guide-details {
  margin: 70px auto;
  max-width: 1100px;
}
.context-container > * {
  padding-bottom: 13px;
  margin-bottom: 10px;
}
.btn-container {
  padding: 0;
  outline: none;
}

.book-btn {
  font-family: "Lato";
  border: none;
  text-align: center;
  font-size: 26px;
  width: 130px;
  height: 38px;
  background-color: $clr2;
  color: white;
  cursor: pointer;
  margin-right: 7px;
  opacity: 1;
  transition: 0.3s;
}

.book-btn:focus{
  outline: none;
}

.book-input{
  outline: none;
  border: 1px solid $clr2;
}

.book-input:focus{
  border: 1px solid #6376ce;
  outline: none;
}

.num-of-guests {
  border-radius: 9px 0 0 9px;
  width: 180px;
  height: 38px;
  margin-bottom: 15px;
  border: 1px solid;
  border-color: rgb(220, 223, 230);
  outline: none;
}

.review-container {
  width: 75%;
  height: auto;
  color: black;
  text-align: inherit;
  font-size: 3px;
  word-wrap: break-word;
  border-bottom: 0.5px solid;
}

.guide-review-title{
  font-family: "Lato";
  font-size: rem(27px);
  line-height: 45px;
  color: $clr2;
  padding: 0;
  word-break: break-word;
  width: 567px;
}

.guide-header > * {
  font-size: 7.75rem;
}
.guide-img-details {
  width: 500px;
}
.guide-img-details > * {
  width: 68%;
}


.num-of-people {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.num-of-people > * {
  font-size: 23px;
}
.book-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

  