
.tags-container{
    margin-top: 4px;
    display: flex;
    padding: 2px;
    align-items: center;
}


.home-icon-style{
    width : 10%;
    height: 10%;
}

.details-icon-style{
    width: 10%;
}

img.ui.image.width{
    width: 60%;
}

.tag-label{
    flex-direction: row;
    width: 183px;
    margin-left: 4px;
}

.tag-icon{
    justify-content: flex-start;
}

.tag-icon img{
    width: 20px;
}

.tag-view{
    width: 300px;
    margin-top: -29px;
    margin-left: 100px;
    // margin-right: 10px;
    display: flex;
  img {
      width: 20px;
      margin: 2px;
  }  
}

