.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.guide-header {
  font-family: "Lato-Bold";
  font-size: rem(40px);
  color: $clr2;
  padding: 0;
  margin-top: 30px;
}

.back-btn {
  font-family: "Lato";
  text-align: center;
  font-size: 15px;
  border-radius: 3px;
  width: 70px;
  padding: 10px;
  background-color: $clr2;
  border: 1px solid $clr2;
  color: white;
  cursor: pointer;
  margin-right: 7px;
  opacity: 1;
  transition: 0.3s;
  margin-top: 10px;
}
.container-book{
  margin-top: 140px;
}

.back-btn:hover {
  opacity: 0.8;
}

.guide-img-details {
  width: 30%;
}

.guide-desc {
  font-family: "Lato";
  font-size: rem(25px);
  color: $clr2;
  margin-right: 10%;
  padding: 0;
  word-break: break-word;
  width: 417px;
}

.guide-reviews-title {
  font-family: "Lato";
  font-size: rem(20px);
  color: $clr2;
  border-top: solid;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}
.contanier-Details{
  border-bottom: 1px solid;
}
.guide-details{
  margin: 100px auto;
  max-width: 980px;
  

}

.book-btn {
  font-family: "Lato";
  border-radius: 0 9px 9px 0;
  text-align: center;
  font-size: 15px;
  width: 70px;
  height: 38px;
  background-color: $clr2;
  border: 1px solid $clr2;
  color: white;
  cursor: pointer;
  margin-right: 7px;
  opacity: 1;
  transition: 0.3s;
}

.book-btn:hover {
  opacity: 0.8;
}

.num-of-guests {
  border-radius: 9px 0 0 9px;
  width: 180px;
  height: 38px;
  margin-bottom: 15px;
  border: 1px solid;
  border-color: rgb(220, 223, 230);
  outline: none;
}
.review-contaner {
  width: 75%;
  height: auto;
  color: black;
  text-align: inherit;
  font-size: 3px;
  word-wrap: break-word;
  border-bottom: 0.5px solid;
}
