.main-search{
 
    // margin-bottom: 20px;
}

select {
    border:0px;
    outline:0px;
    width: 20%;
    padding: rem(15px); 
    border-radius: 9px 0 0 9px;
 }

 .search-btn{
    font-family: 'Lato';
    font-size: 20px;
    border-radius: 0 9px  9px 0;
    width: 110px;
    background-color: #ef8758;
    opacity: 1;
    transition: 0.3s;
    border: none;
    color: white;
    cursor: pointer;
 }


 .search-btn:hover{
     opacity: 0.9;
 }

 .search-btn:focus{
     outline: none;
 }

 .search-btn:hover{
    background-color: #faac88;
    border: none;
}

 .search-container {
     justify-content: center;
     margin-top: 30px;
 }


