.main-search{
 
    // margin-bottom: 20px;
}

select {
    border:0px;
    outline:0px;
    width: 20%;
    padding: rem(15px); 
    border-radius: 3px;
 }

 .search-btn{
    font-family: 'Lato';
    font-size: 20px;
    border-radius: 3px;
    width: 110px;
    background-color: rgb(237,111,37);
    border: none;
    color: white;
    cursor: pointer;
 }

 .search-btn:hover{
    background-color: rgb(247, 135, 71);
    border: none;
}

 .search-container {
     justify-content: center;
     margin-top: 30px;
 }


