.main-navbar{
    // border-bottom: 0.5px solid;
    display: flex;
    /* border-style: solid; */
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    a{
        color: white;
        font-size: rem(20px);
    }
}

.mobile-navbar{
    display: flex;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    position: fixed;
    width: 100%;
    z-index: 100;
    bottom: 0;
    background-color: white;
    a{
        color: white;
        font-size: rem(20px);
    }
    .nav-links{
        justify-content: flex-start;
    }
}

.nav-mobile-icon{
    width: 28px;
}



.nav-link{
    margin-left: 15px;
    .nav-shadow{
        box-shadow: none;
    }
}

.nav-links{
    align-items: center;
    display: flex;
    width: 100%;
    margin-right: 25px;
    justify-content: flex-end;
}

.logo{
    width: 50%;
    height: 46px;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.logo-text{
    width: 265px;
    display: flex;
    font-size: 20px;
    align-items: center;
    font-family: 'KoHoBold';

}







