.calendar-container-profile {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.calendar-content-profile {
    border: 1px solid;
    border-radius: 12px;
    border-color: #445d66;
    padding: 23px;
    padding-top: 5px;
    margin-top: 30px;
    top: 80px;
}

.overview-elements{
    display: flex;
    justify-content: space-evenly;
}

.profile-img{
    width: 300px;
    height: 380px;
    padding-top: 20px;
    border-radius: 9%;
}

.main-container-profile{
    margin: 66px auto;
    max-width: 980px;
    margin-bottom: 20px;
}

.profile-name{
    justify-content: center;
    font-size: rem(40px);
    font-weight: bold;
    margin-top: 30px;
    color: #445d66;
}

.MuiTab-textColorPrimary.Mui-selected {
    color: #7ca5b2!important;
}

.PrivateTabIndicator-colorPrimary-323 {
    background-color:  #457786!important;
}

.PrivateTabIndicator-colorPrimary-122 {
    background-color:  #558594!important;
}

.PrivateTabIndicator-colorPrimary-457 {
    background-color:  #558594!important;
}

.PrivateTabIndicator-colorPrimary-725 {
    background-color:  #558594!important;
}

.PrivateTabIndicator-colorPrimary-524 {
    background-color: #7ca5b2 !important;
}

.PrivateTabIndicator-colorPrimary-189 {
    background-color:  #7ca5b2 !important;
}

.PrivateTabIndicator-colorPrimary-390 {
    background-color:  #7ca5b2 !important;
}

.PrivateTabIndicator-colorPrimary-658 {
    background-color: #7ca5b2 !important;
}