.review-input{
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 20px;
    color: $clr3;
    width: 230px;
    outline: none;
}

.review-input:focus{
    color: $clr3;
}

.review-input:focus{
    border-bottom: 1px solid $clr2;
}

.review-text{
    width: 350px;
    margin-bottom: 10px;
}

.ui.star.rating .icon {
    font-size: 20px;
}

.ui.star.rating:focus{
    outline:none;
}

.ui.star.rating .active.icon {
    border-bottom: none;
    outline: none;
}

.ui.form textarea {
    border: 1px solid $clr3;
    padding-bottom: 60px;
    width: 340px;
    ::placeholder{
        text-align: left;
        // line-height: -30;
 
    }
}

.ui.form textarea:focus {
    border: 1px solid $clr2;
}

.send-btn {
    font-family: "Lato";
    text-align: center;
    font-size: 15px;
    border-radius: 3px;
    width: 70px;
    padding: 10px;
    background-color: $clr3;
    border: 1px solid $clr3; 
    color: white;
    cursor: pointer;
    margin-right: 7px;
    opacity: 1;
    transition: 0.3s;
    margin-top: 10px;
}

.send-btn:hover { 
    opacity: 0.8;
}