.chat-window {
  background-color: white;
  width: 275px;
  position: absolute;
  height: 227px;
  border: 1px solid;
  border-radius: 9%;
  left: -275px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.screen-window{
  background-color: black;
  width: 274px;
  height: 148px;
  border-radius: 9
}
