.container-chat-icon {
  width: 87px;
  position: fixed;
  right: 126px;
  top: 492px;
}

.container-chat-icon > img {
  border-radius: 50%;
  /* border: 0.5px solid; */
  width: 64px;
  height: 62px;
}
