.container-chat-icon {
    display: flex;
    height: 54px;
    width: 125px;
    background-color: #bc714040;
    justify-content: center;
    border-radius: 36px;
    position: relative;

}



.container-chat-icon > img {
    width: 54px;

}
