.main-footer {
    padding: 20px;
    text-align: center;
    background:rgb(237,111,37);
    color: white;
    border-bottom: 0.5px solid white;
    margin-top: 20px;
    position: fixed;
    // margin-top: 430px;
    width: 100%;
    bottom: 0;
}

