.container {
    // max-width: $normal-breakpoint;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    
    @include for-narrow-layout {
        max-width: $mobile-breakpoint;
    }
    @include for-normal-layout {
        max-width: $narrow-breakpoint;
    }
    @include for-wide-layout {
        max-width: $normal-breakpoint;
    }
}

// GRIDS

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 10px;
}