// Colors
$clr1: black; 
$clr2: #445d66; //rgb(54,71,153)
$clr3: #ef8758;
$clr4: #e97e4c;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;